
html, body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

/* NAVIGATION-BAR */
#weather-navbar {
    width: 100%;
    display: flex;
    height: 0 auto;
    margin: 0px;
    padding: 0px
}

#weather-navbar-title {
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 50%;
}

#weather-navbar-right {
    display: flex;
    margin: auto;
    padding: 0px;
    width: 50%;
}

.weather-navbar-element {
    display: inline-block;
    width: 50%;
    margin: 0px;
    padding: 0px
}

/* CONTENT */

