
html, body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: sans-serif !important;
    height: 100%;
}

* {
    font-weight: normal; 
}

/*
#wcont { background-color: darkgray; } #wthr-nav { background-color: red; } #wcont-title { background-color: green; } #wcont-main {background-color: blue; }
*/

/*-----------------------------------> WCONT <----------*/

#wcont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    padding: 10px 60px 10px 60px;
    justify-content: space-between;
    min-height: 80%;
    max-height: 1200px;
}

#wcont > * {
    flex: 1;
    width: 100%;
}

/*-----------------------------------> NAVBAR <---------*/

#wthr-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#wthr-nav-title {
}

#wthr-nav-right {
}

.wthr-nav-element {
}

#wthr-nav-right .wthr-nav-element {
    /*justify-content: right;*/
    display: inline-block;
}

/*-----------------------------------> TITLE <----------*/

#wcont-title {
}

/*-----------------------------------> ELEMENT <--------*/

#wcont-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

.wcont-el {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
}

.wcont-el-title {
    text-align: left;
}

/*-----------------------------------> CARD <-----------*/

.wcont-card {
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 5px #000000;
    padding-left: 40px;
    padding-right: 40px;
}

.wcont-card-title {
}

.wcont-card-temp {
}

