

* {
    font-weight: normal; 
}

body {
    padding: 10px 60px 10px 60px;
    background-color: white;
    font-family: sans-serif !important;
}

/*-----------------------------------> WCONT <----------*/
#wcont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
}

/*-----------------------------------> NAVBAR <---------*/
.wthr-nav-element {
    padding: 0px;
    margin: 0px;
    grid-row: 1 / 2;
}

#wthr-nav-title {
    grid-column: 1 / 4;
}

.wthr-nav-element:nth-child(2) {
    grid-column: 4 / 5;
    text-align: right;
}

.wthr-nav-element:nth-child(3) {
    grid-column: 5 / 6;          
    text-align: right;
}

/*-----------------------------------> TITLE <----------*/
#wcont-title {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    padding: 0px;
    text-align: left;
}

/*-----------------------------------> ELEMENT <--------*/
#wcont-container {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}
#wcont-container-el {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0px;
}

.wcont-el-title {
}

/*-----------------------------------> CARD <-----------*/

.wcont-card {
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 5px 5px 2px #DDDDDD;
    height: 230px;
    width: 206px;
    margin: 0px;
}

.wcont-card-title {
}

.wcont-card-temp {
    font-size: 25px;
    font-weight: bold;
}


.wcont-card-svg {
    text-align: center;
    width: 58px;
    height: 58px;
}

.wcont-card-circle {
}


